@import url('https://fonts.googleapis.com/css?family=Roboto:400&subset=latin-ext');

::-moz-selection {
    background: #81c820;
    color: #ffffff;
}
::selection {
    background: #81c820;
    color: #ffffff;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: #81c820;
    transition: all 0.5s linear;
}

a:hover {
    color: #333333;
    transition: all 0.5s linear;
}

p.form {
    margin: 80px 0 0 0;
    padding: 0;
}

#logo {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -400px;
}

#content {
    width: 100%;
    position: absolute;
    top: 300px;
    text-align: center;
    font-size: 11pt;
}

h1 {
    font-size: 18pt;
    font-weight: 400;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
}


h3 {
    font-size: 11pt;
    font-weight: 400;
    margin: 18pt 0 6pt 0;
}

.smallText {
    font-size: 8.5pt;
}

input {
    text-align: center;
}

#success, #error, #successText {
    display: none;
}

#success {
    color: #81c820;
}

#error {
    color: #f00;
}