@import url('https://fonts.googleapis.com/css?family=Roboto:400&subset=latin-ext');

::-moz-selection {
    background: #81c820;
    color: #ffffff;
}
::selection {
    background: #81c820;
    color: #ffffff;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: #81c820;
    transition: all 0.5s linear;
}

a:hover {
    color: #333333;
    transition: all 0.5s linear;
}

p.form {
    margin: 80px 0 0 0;
    padding: 0;
}

#logo {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 800px;
    margin-left: -400px;
    height: auto;
}

#content {
    position: absolute;
    top: 300px;
    left: 20px;
    right: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 0.9em;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
}


h3 {
    font-size: 0.9em;
    font-weight: 400;
    margin: 18pt 0 6pt 0;
}

.smallText {
    font-size: 0.7em;
}

input {
    text-align: center;
}

#success, #error, #successText {
    display: none;
}

#success {
    color: #81c820;
}

#error {
    color: #f00;
}

@media all and (max-width: 850px) {
    #logo {
      max-width: 600px;
      margin-left: -300px;
      height: auto;
    }

    #content {
        top: 200px;
    }
}
@media all and (max-width: 650px) {
    #logo {
      max-width: 400px;
      margin-left: -200px;
      height: auto;
    }
    
    #content {
        top: 150px;
    }
} 
@media all and (max-width: 450px) {
    #logo {
      max-width: 200px;
      margin-left: -100px;
      height: auto;
    }

    #content {
        top: 100px;
    }
}